<footer class="text-center mt-5 py-5">
  <% if (theme.email_url) { %>
    <a href="<%- theme.email_url %>" target="_blank"><i class="fa fa-envelope-o mr-4"></i></a>
  <% } %>
  <% if (theme.twitter_url) { %>
    <a href="<%- theme.twitter_url %>" target="_blank"><i class="fa fa-twitter mr-4"></i></a>
  <% } %>
  <% if (theme.facebook_url) { %>
    <a href="<%- theme.facebook_url %>" target="_blank"><i class="fa fa-facebook mr-4"></i></a>
  <% } %>
  <% if (theme.instagram_url) { %>
    <a href="<%- theme.instagram_url %>" target="_blank"><i class="fa fa-instagram mr-4"></i></a>
  <% } %>
  <% if (theme.linkedin_url) { %>
    <a href="<%- theme.linkedin_url %>" target="_blank"><i class="fa fa-linkedin mr-4"></i></a>
  <% } %>
  <% if (theme.dribbble_url) { %>
    <a href="<%- theme.dribbble_url %>" target="_blank"><i class="fa fa-dribbble mr-4"></i></a>
  <% } %>
  <% if (theme.github_url) { %>
    <a href="<%- theme.github_url %>" target="_blank"><i class="fa fa-github mr-4"></i></a>
  <% } %>
  <% if (theme.googleplus_url) { %>
    <a href="<%- theme.googleplus_url %>" target="_blank"><i class="fa fa-google-plus mr-4"></i></a>
  <% } %>
  <% if (theme.behance_url) { %>
    <a href="<%- theme.behance_url %>" target="_blank"><i class="fa fa-behance mr-4"></i></a>
  <% } %>
  <% if (theme.fivehundredpx_url) { %>
    <a href="<%- theme.fivehundredpx_url %>" target="_blank"><i class="fa fa-500px mr-4"></i></a>
  <% } %>
</footer>
