<div class="post-box col-lg-6 col-md-6 col-12 mb-5">
  <div class="image-box">
    <div class="post-image">
      <a href="<%- config.root %><%- item.path %>">
        <img class="img-fluid" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || "Untitled" %>">
      </a>
    </div>
  </div>
</div>
