<!DOCTYPE html>
<html lang="en">
  <%- partial('_partial/head') %>

  <body>

		<%- partial('_partial/navbar') %>

		<div class="container">
			<%- body %>

			<%- partial('_partial/footer') %>
		</div>

		<%- partial('_partial/scripts') %>

  </body>
</html>
